**IMPORTING THE NECESSARY LIBRARIES**

In [1]:
#importing libraries 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

#importing decision tree classifier 
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import f1_score

from sklearn.model_selection import train_test_split

**LOAD THE DATASET**

In [2]:
#reading the data
data=pd.read_csv('cleaned_loan.csv')

In [3]:
data.drop('Unnamed: 0',inplace=True,axis=1)

In [4]:
#shape of the data
data.shape

(4368, 78)

In [5]:
#first five rows of the data
data.head()

,loannumber,loanamount,totaldue,termdays,bank_account_type,longitude_gps,latitude_gps,employment_status_clients,creationdate_dow,additional_charges,...,bank_name_clients_Keystone Bank,bank_name_clients_Skye Bank,bank_name_clients_Stanbic IBTC,bank_name_clients_Standard Chartered,bank_name_clients_Sterling Bank,bank_name_clients_UBA,bank_name_clients_Union Bank,bank_name_clients_Unity Bank,bank_name_clients_Wema Bank,bank_name_clients_Zenith Bank
0,12.0,30000.0,34500.0,30.0,0.0,3.432010,6.433055,0.0,1.0,4500.0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,15000.0,17250.0,30.0,1.0,3.885298,7.320700,0.0,2.0,2250.0,...,0,0,0,0,0,0,0,0,0,0
2,7.0,20000.0,22250.0,15.0,0.0,11.139350,10.292041,0.0,3.0,2250.0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,10000.0,11500.0,15.0,1.0,3.985770,7.491708,0.0,3.0,1500.0,...,0,0,0,0,0,0,0,0,0,0
4,9.0,40000.0,44000.0,30.0,0.0,7.457913,9.076574,0.0,0.0,4000.0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
#checking missing values in the data
data.isnull().sum()

loannumber                       0
loanamount                       0
totaldue                         0
termdays                         0
bank_account_type                0
                                ..
bank_name_clients_UBA            0
bank_name_clients_Union Bank     0
bank_name_clients_Unity Bank     0
bank_name_clients_Wema Bank      0
bank_name_clients_Zenith Bank    0
Length: 78, dtype: int64

In [8]:
x = data.drop(['good_bad_flag'], axis=1)
y = data['good_bad_flag'].replace({'Good':0, 'Bad':1})

In [9]:
#creating validation set from training set
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state = 101, stratify=y, test_size=0.15)

In [10]:
#Scalig the train,validation and testing datasets
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(X_train)
X_train = pd.DataFrame(x_train_scaled, columns=X_train.columns)

x_test_scaled = scaler.transform(X_test)
X_test = pd.DataFrame(x_test_scaled, columns=X_test.columns)

**MODEL**

In [2]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

In [3]:
DecisionTreeClassifier=DecisionTreeClassifier(random_state=100)

In [4]:
tree_para = {'criterion':['gini','entropy'],'max_depth':[4,5,6,7,8,9,10,11,12,15,20,30,40,50,70,90,120,150],'min_samples_split':[2,4,8,10,15,25,30,40,50,55]}
clf = GridSearchCV(estimator=DecisionTreeClassifier,param_grid=tree_para,scoring='f1',cv=5)
clf=clf.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [21]:
f1_model=clf.best_score_

In [22]:
f1_model

0.3236014437473501

In [23]:
clf.best_params_

{'criterion': 'gini', 'max_depth': 30, 'min_samples_split': 30}