# Importing Libraries

In [4]:
#Importing required libraries
import pandas as pd 
import numpy as np

from sklearn.metrics import f1_score

### Loading the dataset

In [5]:
#reading the data
data=pd.read_csv('Loan data cleaned.csv')

In [6]:
#shape of the data
data.shape

(4368, 64)

In [7]:
#first five rows of the data
data.head()

,loannumber,loanamount,totaldue,termdays,good_bad_flag,bank_account_type,longitude_gps,latitude_gps,bank_name_clients,employment_status_clients,...,ploan_additional charges_50%_x,ploan_additional charges_75%_x,ploan_additional charges_max_x,ploan_additional charges_mean_y,ploan_additional charges_min_y,ploan_additional charges_25%_y,ploan_additional charges_50%_y,ploan_additional charges_75%_y,ploan_additional charges_max_y,not_repaid_percentage
0,12,30000.0,34500.0,30,Good,Other,3.432010,6.433055,Diamond Bank,Permanent,...,3800.000000,4500.000000,4500.000000,3900.000000,3000.000000,3400.000000,3800.000000,4500.000000,4500.000000,64.000000
1,2,15000.0,17250.0,30,Good,Savings,3.885298,7.320700,GT Bank,Permanent,...,2665.558293,3037.525723,3543.851778,2730.359972,2102.661161,2364.738902,2665.558293,3037.525723,3543.851778,63.573297
2,7,20000.0,22250.0,15,Good,Other,11.139350,10.292041,EcoBank,Permanent,...,1500.000000,1500.000000,3000.000000,1750.000000,1500.000000,1500.000000,1500.000000,1500.000000,3000.000000,50.000000
3,3,10000.0,11500.0,15,Good,Savings,3.985770,7.491708,First Bank,Permanent,...,2250.000000,2625.000000,3000.000000,2250.000000,1500.000000,1875.000000,2250.000000,2625.000000,3000.000000,0.000000
4,9,40000.0,44000.0,30,Good,Other,7.457913,9.076574,GT Bank,Permanent,...,3800.000000,5100.000000,9000.000000,4800.000000,3000.000000,3000.000000,3800.000000,5100.000000,9000.000000,100.000000

In [8]:
#checking missing values in the data
data.isnull().sum()

loannumber                        0
loanamount                        0
totaldue                          0
termdays                          0
good_bad_flag                     0
                                 ..
ploan_additional charges_25%_y    0
ploan_additional charges_50%_y    0
ploan_additional charges_75%_y    0
ploan_additional charges_max_y    0
not_repaid_percentage             0
Length: 64, dtype: int64

In [9]:
#make dummies of categorical columns('bank_account_type','bank_name_clients','employment_status_clients')
data=pd.get_dummies(data=data,columns=['bank_account_type','bank_name_clients','employment_status_clients'],drop_first=True)

### Separating independent and dependent variables.

In [10]:
x = data.drop(['good_bad_flag'], axis=1)
y = data['good_bad_flag'].replace({'Good':0, 'Bad':1})

### Creating the train and test dataset

In [11]:
#import the train-test split
from sklearn.model_selection import train_test_split

In [12]:
#divide into train and test sets
train_x,test_x,train_y,test_y = train_test_split(x,y, random_state = 101, stratify=y)

## Building a Decision Tree Model

In [13]:
#Importing Decision Tree Classifier 
from sklearn.tree import DecisionTreeClassifier

In [14]:
#creating a decision tree instance
clf = DecisionTreeClassifier(class_weight='balanced',random_state=101,criterion='gini',max_depth=4,max_leaf_nodes=15,min_samples_split=30)

In [15]:
#training the model
clf.fit(train_x,train_y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight='balanced', criterion='gini',
                       max_depth=4, max_features=None, max_leaf_nodes=15,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=30,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=101, splitter='best')

In [16]:
pred_train=clf.predict(train_x)
pred_test=clf.predict(test_x)
f1_train=f1_score(train_y,pred_train)
f1_test=f1_score(test_y,pred_test)

In [17]:
f1_train,f1_test

(0.4778856526429342, 0.43686006825938567)

## Building a Random Forest Model

In [18]:
#Importing random forest classifier 
from sklearn.ensemble import RandomForestClassifier

In [19]:
#creating a random forest instance
clf = RandomForestClassifier(n_estimators=500,class_weight='balanced',random_state=101,criterion='gini',max_depth=4,max_leaf_nodes=15,min_samples_split=30)

In [20]:
#train the model
clf.fit(train_x,train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight='balanced',
                       criterion='gini', max_depth=4, max_features='auto',
                       max_leaf_nodes=15, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=30,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=101,
                       verbose=0, warm_start=False)

In [21]:
pred_train=clf.predict(train_x)
pred_test=clf.predict(test_x)
f1_train=f1_score(train_y,pred_train)
f1_test=f1_score(test_y,pred_test)

In [22]:
f1_train,f1_test

(0.4996704021094265, 0.42588726513569936)

In [20]:
#looking at the feature importance
clf.feature_importances_

array([8.59468142e-03, 9.67998656e-03, 1.49194540e-02, 4.66228607e-03,
       1.33878732e-02, 6.26074941e-03, 1.19188754e-03, 2.82539994e-03,
       1.90439059e-02, 1.50773943e-04, 1.09368484e-02, 9.96670326e-03,
       6.06124378e-04, 8.66297433e-04, 2.51895850e-03, 9.61618854e-03,
       8.90020343e-03, 1.74526138e-02, 3.01320267e-03, 4.16690318e-03,
       4.42521582e-03, 7.54896378e-03, 1.50079637e-02, 7.73704207e-03,
       0.00000000e+00, 5.44742852e-04, 6.27793333e-04, 1.18420322e-03,
       6.00389827e-04, 7.68060358e-03, 1.02502731e-03, 4.99004830e-04,
       3.13823897e-04, 3.09085633e-03, 3.08127304e-03, 4.59493608e-02,
       2.49457863e-02, 2.57178959e-02, 2.63893564e-02, 3.68916670e-02,
       2.51593376e-02, 6.51634201e-02, 6.73341478e-02, 8.67235235e-02,
       8.97614954e-02, 8.99822632e-02, 6.00735301e-02, 8.07196359e-03,
       3.14936644e-03, 4.48141211e-03, 9.56727432e-04, 1.35529169e-02,
       1.22712723e-02, 5.81714238e-03, 1.49153635e-03, 5.53571661e-03,
       2.54282931e-03, 9.34676008e-03, 6.43487297e-03, 5.98892331e-02,
       6.56899071e-03, 6.23073009e-03, 9.66169491e-04, 0.00000000e+00,
       0.00000000e+00, 1.02607753e-04, 2.86729552e-04, 1.14964876e-03,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.88274146e-04,
       0.00000000e+00, 1.54015931e-04, 1.29345496e-03, 0.00000000e+00,
       7.09576342e-05, 3.92919897e-04, 0.00000000e+00, 2.83402225e-03])

In [22]:
#feature importance against each variable
pd.Series(clf.feature_importances_, index=train_x.columns).sort_values(ascending=False)

ploan_first_return_days_75%             0.089982
ploan_first_return_days_50%             0.089761
ploan_first_return_days_25%             0.086724
ploan_first_return_days_min             0.067334
ploan_first_return_days_mean            0.065163
                                          ...
bank_name_clients_Standard Chartered    0.000000
bank_name_clients_Heritage Bank         0.000000
bank_name_clients_Keystone Bank         0.000000
bank_name_clients_FCMB                  0.000000
bank_name_clients_Skye Bank             0.000000
Length: 80, dtype: float64